.App {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  overflow: hidden;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vw;
  width: 100vw;
}

.Tile {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-basis: 1;
  font-size: 3vw;
  justify-content: center;
  margin-bottom: 1em;
  box-sizing: border-box;
  line-height: 5.5vw;
  width: 5vw;
  height: 5vw;
  margin: 0.5vw;
}
