.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  overflow: hidden;
  display: flex;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100vmin;
}

.Tile {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-basis: 1;
  font-size: 6vmin;
  justify-content: center;
  margin-bottom: 1em;
  box-sizing: border-box;
  line-height: 8vmin;
  width: 8vmin;
  height: 8vmin;
  margin: 0.6vmin;
}

.Info {
  position: fixed;
}

a {
  cursor: pointer;
}
