.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-30deg, rgba(30,87,153,1) 0%,rgba(204,195,38,1) 100%);
  user-select: yellow;
  overflow: hidden;
  display: flex;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100vmin;
  user-select: none;
}

.Tile {
  align-content: center;
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-basis: 1;
  font-size: 6vmin;
  justify-content: center;
  margin-bottom: 1em;
  box-sizing: border-box;
  line-height: 8vmin;
  width: 8vmin;
  height: 8vmin;
  margin: 0.6vmin;
  transition: 1500ms background-color cubic-bezier(.1, 1.2, 0.5, 2.7);
}

.Entity {
  background-color: rgba(0, 0, 0, 0.005);
}

.Info {
  position: fixed;
}

.Info::selection {
  background-color: yellow;
}

a {
  cursor: pointer;
}
